*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
}

.main-header {
  background-color: #eac926;
  padding: 20px;
}

.main-nav-bar {
  display: none;
}

.hamburguer-button {
  background-color: #03234c;
  color: white;
  max-width: 50px;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  margin: 10px 0px  20px 0px;
  width: 40px;
  text-align: center;

}

.logo {
  width: 150px;
}

.text-copy-header {
  text-align: center;
}

.right-nav-var {
  padding-right: 20px;
}

.main-nav-bar ul {
  list-style: none;
  margin: 0;
  padding: 0; 
}

.main-nav-bar a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 10px;
}

.fa-solid {
  padding-left: 10px;
}


header form{
  display: flex;
  align-items: center;
  padding: 2px;
  position: relative;
}

header form input[type='search']{
  border: 0px;
  border-radius: 5px;
  outline: none;
  width: 500px;
  padding: 10px;
}

header form button{
  background-color: #FFF;
  border: 0px;
  outline: none;
  position: absolute;
  right: 5px;
  color: #666;
}

section.ultima-visita,
section.ofertas{
    display: flex;
    flex-wrap: wrap;
}

article div.main-article{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 20px;
}

section div.container-producto{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  border-top: 1px solid #ebebeb;
  position: relative;
  padding: 20px;
}

p{
  font-size: 12px;
}

h3{
  font-size: 20px;
}

.prices{
  font-size: 18px;
  width: 30%;
}

.discount,
.description{
  font-size: 16px;
  font-weight: normal;
}

.discount{
  width: 70%;
}

.description{
  margin-top: 20px;
  display: none;
}

h3,
.description{
    color: #666;
}

section.banner img{
    width: 100%;
    display: block;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section h3{
    margin: 20px 0px;
}

main section .container-producto{
    background-color: #fff;
    margin: 10px 0px;
}

main section article img{
  display: block;
  width: 100%;
}

main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article:hover .description{
    display: block;
}

main section article img{
    display: block;
    width: 100%;
}

main section .container-producto i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section article i{
  transition: transform 1s;
}

main section article:hover i{
  transform: rotate(-90deg);
}

.login input,
.register input{
    width: 100%;
    padding: 10px;
    margin: 20px 0px;
    border-radius: 5px;
    border: 0px;
}

.login input[type='submit'],
.register input[type='submit']{
    color: #FFF;
    background-color: #0044AA;  
    border-radius: 5px;
}

.login input[type='submit']:hover,
.register input[type='submit']:hover{
    background-color: #0022AA;
}

.register input[type='reset']{
    color: #FFF;
    background-color: #AA0044;
}

.register input[type='reset']:hover{
    background-color: #CC1155;
}

@media (min-width: 760px) {
  .main-header-top-bar{
    display: flex;
    justify-content: space-between;
  }
  .copy-header {
    max-width: 350px;
    text-align: right;
  }

  .hamburguer-button {
    display: none;
  }
  .main-nav-bar {
    display: flex;
    justify-content: space-between;
  }
  .main-nav-bar ul {
    display: flex;
  }
  .main-nav-bar li {
    display: flex;
    padding: 0 5px;
  }
}

@media (min-width: 1200px) {
  .logo {
    width: 250px;
  }
  .main-header-top-bar, .main-nav-bar {
    max-width: 1200px;
    margin: auto;
  }
  .main-header-top-bar{
    align-items: center;
  }
  .copy-header {
    max-width: none;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
  }

  .main-nav-bar {
    margin-top: 30px;
  }
  .main-nav-bar li {
    margin: 0 10px;
  }
  .main-nav-bar a {
    font-size: 19px;
  }
}

footer{
  background-color: #fff;
  color: #666;
  padding: 20px 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer article{
  margin: 20px 0px;
  padding: 20px;
  text-align: center;
}

footer i{
  font-size: 2em;
  margin-bottom: 10px;
  color: #1259c3;
}

/* diseño adaptativo */

@media (min-width: 361px){
  .login,
  .register{
      max-width: 500px;
      margin: 0 auto;
  }

  header div.top-header{
      padding: 2%;
  }

  header div.top-header{
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
  }

  header div.top-header div.logo{
      flex-grow: 5;
      width: auto ;
  }

  header div.top-header form{
      flex-grow: 5;
      width: auto ;
  }

  header div.top-header p{
      flex-grow: 1;
      width: auto;
  }

  div.burger-menu{
      display: block;
  }

  header nav{
      padding: 2%;
      display: flex;
      justify-content: space-between;
  }

  header nav ul{
      display: flex;
  }

  header nav ul li{
      margin: 0px 10px;
  }
  
  main section div.products{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
  }
  
  main section div.products article{
      width: 45%;
  }
  
  .price,
  .discount{
      width: 50%;
  }
}

@media (min-width: 769px){
  header div.top-header{
      padding: 0% 2%;
  }

  header div.top-header div.logo{
      flex-grow: 2;
      width: auto ;
  }

  main section div.products{
      height: 70vh;
  }

  main section div.products article{
      width: 22%;
  }
  
  footer div.footer-article-container{
      display: flex;
  }
}